h1{
  color: green;
}

h3{
  color:blue;
}
p{
  font-style: oblique;
  color: black;
}
 body{
  background-image:none
  /* url('/images/img4.jpg'); */
  
 }
.navbar {
  background-color:navy;
  padding:10px;
  height:75px;
  width:100%;
}

.navbar-brand {
  color:honeydew !important;
  font:25px;
  padding:10px;
}
.nav-link{
  color:gold !important;
  font:25px;
  padding:10px;
}
.card{
  color:navy !important;
  background:lavenderblush !important;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  border: 2px solid navy !important;
}
.react-card-flipper{
  height:350px !important;
  width:300px !important;
  position: absolute;
  color:green !important;
}

.login-container{
  position: absolute;
  left:35%;
  width:300px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin:5rem 5rem 5rem 5rem;
  padding:1rem 1rem 1rem 1rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.register-container{
  position: absolute;
  left:35%;
  width:300px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin: 5rem 5rem 5rem 5rem;
  padding:1rem 1rem 1rem 1rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.form-cl{
  position: relative;
  left:25% ; 
  width:500px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin: 5rem 5rem 5rem 5rem;
  padding:3rem 3rem 3rem 3rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.btn-2 {
  color: #fff;
  background-color:green !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-2:hover{
  opacity: 2;
}
.btn-1 {
  color: #fff;
  background-color:green !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-1:hover{
  opacity: 2;
}
.btn-3 {
  color: #fff;
  background-color:red !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-3:hover{
  opacity: 2;
}

.searchBox{
  background-color:lavenderblush;
  width:350px !important;
  border: 2px solid navy;
  border-radius:12px !important;
}

.jumbotron{
  background-color:lavenderblush !important;
  border: 2px solid navy;
  border-radius:12px !important;
}