h1{
  color: green;
}

h3{
  color:blue;
}
p{
  font-style: oblique;
  color: black;
}
 body{
  /* background-color:whitesmoke !important; */
  
 }
.navbar {
  background-color:navy;
  padding:10px;
  height:75px;
  width:100%;
}

.navbar-brand {
  color:honeydew !important;
  font:25px;
  padding:10px;
}
.nav-link{
  color:gold !important;
  font:25px;
  padding:10px;
}
.card{
  background-color:rgb(241, 241, 247) !important;
  color:navy !important;
  display: "inline-block"!important;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  border-radius: 1rem !important;
  border: 1px solid #FFC107 !important;
}

