h1{
  color: green;
}

h3{
  color:blue;
}
p{
  font-style: oblique;
  color: black;
}
 body{
  background-image:none
  /* url('/images/img4.jpg'); */
  
 }
.navbar {
  background-color:navy;
  padding:10px;
  height:75px;
  width:100%;
}

.navbar-brand {
  color:honeydew !important;
  font:25px;
  padding:10px;
}
.nav-link{
  color:honeydew
   !important;
  font:25px;
  padding:10px;
}
.card{
  color:navy !important;
  background:lavenderblush !important;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
  border: 2px solid navy !important;
  height:400px !important;
  width:300px !important;
  text-align:center !important;
}

.login-container{
  position: absolute;
  left:35%;
  width:300px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin:5rem 5rem 5rem 5rem;
  padding:1rem 1rem 1rem 1rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.register-container{
  position: absolute;
  left:35%;
  width:300px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin: 5rem 5rem 5rem 5rem;
  padding:1rem 1rem 1rem 1rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.form-cl{
  position: relative;
  left:25% ; 
  width:500px;
  font-family: 'Roboto', sans-serif !important;
  border: 1px solid navy !important;
  margin: 5rem 5rem 5rem 5rem;
  padding:3rem 3rem 3rem 3rem;
  border-radius:25px !important;
  background-color:lavenderblush;
}
.btn-2 {
  color: #fff;
  background-color:green !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-2:hover{
  opacity: 2;
}
.btn-1 {
  color: #fff;
  background-color:green !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-1:hover{
  opacity: 2;
}
.btn-3 {
  color: #fff;
  background-color:red !important;
  border-color: #6c757d;
  opacity: 0.6;
  transition: 0.3s;
  text-align: center;
  border-radius:25px !important;
}
.btn-3:hover{
  opacity: 2;
}

.searchBox{
  background-color:lavenderblush;
  width:350px !important;
  border: 2px solid navy;
  border-radius:12px !important;
}

.jumbotron{
  background-color:lavenderblush !important;
  border: 2px solid navy;
  border-radius:12px !important;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  padding:15px 15px 15px 15px !important;
  margin:0 0 0 20px;
 
}

.flip-card-inner {
  position:relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:lavenderblush;
  color: navy;
}

.flip-card-back {
  background-color:lavenderblush;
  color: navy;
  transform: rotateY(180deg);
}