version: '3'
services: 
    web:
        build:
            dockerfile: Dockerfile.dev
        ports:
            - "5000:5000"
        depends_on:
            - mongo
    mongo:
        image: mongo
        command: ["mongod", "-f", "/etc/mongod.conf"]
        volumes:
            - /usr/local/etc/mongod.conf:/etc/mongod.conf
            - /usr/local/var/mongodb:/data/db
        ports:
            - "27017:27017"
